



nav{

  position: sticky;
  margin:0;
  padding: 0;
background-color:#24252A;
height:60px;
 display: flex;
 justify-content:space-between;
 align-items:center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 list-style: none;
 cursor: pointer;
 list-style: none;
 color: rgb(87, 65, 24);
}

 .nav-links{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-style: oblique;
 display: flex;
 height: 60px;
 width: 20%;
 margin: 0;
 padding-top: 0;
 justify-content: space-around;
align-items: center;
 list-style: none;





 }
#Logo{
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 list-style: none;
}
.Logo:hover {
 transform: translateY(-2px);
  }
  



.btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-left: auto;
    padding: 13px 15px;
    border: none;
    background-color: rgb(20, 143, 173);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    
  } 
  .btn:hover {
    background-color: #241c50;
    transform: translateY(-2px);
  }
  